form,h1,h2,h3,h4,h5 {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

input {
  display: inline-block;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #3D3642;
  transition: border 0.3s;
  background-color: #BF765E;
  margin-bottom: .5em;
}

input:focus {
  border-bottom: solid 2px #969696;

}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4F3938;
}

h1 {
  font-family: 'Share Tech', sans-serif;
  margin: .5em auto;
  color:#ebe7e6;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#ebe7e6;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  padding:12px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
  transition:0.3s ease all;
  width: 70%;
  margin-bottom: 1em;
}

select:hover {
  background-color:#fff;
}

select:focus, select:active {
  border:0;
  outline:0;
}

#prebuilt, #custom {
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 1em .5em;
}

#prebuilt {
  background-color: #c2bc74;
}

#custom {
  background-color: #BF765E;
}

label {
  display: inline-block;
  width: 25%;
}

.w-h {
  margin-bottom: .5em;
}

h3, h5 {
  display: inline-block;
}

h3 {
  width: 60%;
}

h5 {
  width: 35%;
  font-size: 2em;
  color: white;
}






