form,h1,h2,h4 {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

input {
  display: inline-block;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #3D3642;
  transition: border 0.3s;
  background-color: #BF765E;
  margin-bottom: .1em;
  color: white;
  outline: none;
}

input:focus {
  border-bottom: solid 2px #ebe7e6;
}

/*Change placeholder color*/
::-webkit-input-placeholder {
  color: #ebe7e6;
}

/*remover sipinner from type="number"*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4F3938;
}

h1 {
  font-family: 'Share Tech', sans-serif;
  margin: .1em auto;
  color:#ebe7e6;
  font-size: 1.5em;
}

select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#ebe7e6;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  padding:12px;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  border-radius:5px;
  -webkit-border-radius:5px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
  transition:0.3s ease all;
  width: 70%;
  margin-bottom: 1em;
  color: #3D3642;
}

select:hover {
  background-color:#fff;
}

select:focus, select:active {
  border:0;
  outline:0;
}

#prebuilt, #custom {
  border-radius: 5px;
  margin-top: 1em;
  padding: 1em .5em;
}

#prebuilt {
  background-color: #c2bc74;
}

#custom {
  background-color: #BF765E;
}

label {
  display: inline-block;
  width: 25%;
}

.w-h {
  margin-bottom: .4em;
}

.result-prebuilt, .result-prebuilt-label {
  display: inline-block;
  margin: 0 .4em;
}

h5 {
  font-size: 1.6em;
  color: white;
  margin: 0 0 0 1em;
  width: 60%;
}

h3 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 0;
  width: 20%;
}

button {
  width: 18%;
  color: #ebe7e6;
  line-height: 2em;
  border: 2px solid #ebe7e6;
  border-radius:10%;
  color: #ebe7e6;
  text-align: center;
  text-decoration: none;
  background: #3D3642;
  box-shadow: 0 0 3px gray;
  font-weight: bold;
  font-size: 1.3em;
  display: inline-block;
  margin-top: 5%;
  outline: none;
  padding: .5em 0;
}

button:hover {
  color: #c2bc74;
  border: 2px solid #c2bc74;
  transition: all ease .3s;
}

.result-custom, .result-custom-label {
  display: inline-block;
}

.custom-results {
  display: inline-block;
}

.reset {
  display: block;
  width: 100%;
  line-height: 0;
  background-color: #C4BAB6;
  color: #3D3642;
  border: 2px solid #3D3642;
  padding: .8em 0;
}

.reset:hover {
  color: #ebe7e6;
  border: 2px solid #ebe7e6;
}



/* grid system */


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;
}

.span_1_of_6 {
    width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
/*@media only screen and (max-width: 480px) {*/
  /*.col {  margin: 1% 0 1% 0%; }*/
  /*.span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }*/
/*}*/





